* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  background-color: #F5F5F5;
  position: relative;
}

.page-header {
  height: 66px;
  background: rgba(255, 255, 255, 1);
  font-size: 0px;
  min-width: 1000px;
}
.header-container{
  height: 66px;
  width: 1000px;
  margin: 0 auto;
  font-size: 0px;
}
.header-logo {
  padding-top: 11px;
  padding-left: 23px;
}

.header-nav {
  height: 18px;
  display: inline-block;
  padding-left: 73px;
  padding-top: 26px;
  vertical-align: top;
}

.nav-item {
  height: 18px;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #3E3A3A;
  padding-right: 26px;
}

.nav-item-more {
  display: inline-block;
  padding-bottom: 17px;
  width: 40px;
  color: #4F6FDA;
  border-bottom: 6px solid rgba(79, 111, 218, 1);
}

.page-mainer {
  height: 1711px;
}

.level-section {
  width: 1000px;
  height: 16px;
  padding: 29px 0px;
  margin: 0 auto;
  font-size: 0px;
}

.level-item {
  height: 16px;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: rgba(70, 109, 225, 1);
  padding-right: 10px;
  vertical-align: top;
}

.level-item-more {
  color: #707070;
}

.level-sign {
  display: inline-block;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: rgba(112, 112, 112, 1);
  padding-right: 10px;
  vertical-align: top;
}

.theme-section {
  height: 300px;
  width: 1000px;
  margin: 0 auto;
  background-color: #FFFFFF;
  font-size: 0px;
}

.theme-img {
  display: inline-block;
  width: 400px;
  height: 240px;
  padding-top: 30px;
  padding-left: 30px;
  vertical-align: top;
}

.theme-text-container {
  width: 520px;
  height: 235px;
  display: inline-block;
  padding-top: 35px;
  padding-left: 20px;
  vertical-align: top;
  position: relative;
}


.theme-title {
  display: inline-block;
  width: 393px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  font-family: PingFang SC;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
}

.theme-description {
  display: inline-block;
  padding-top: 19px;
  width: 515px;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  font-family: PingFang SC;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
}

.theme-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 167px;
  height: 74px;
  bottom: 33px;
  padding-top: 72px;
}

.theme-list-item {
  font-size: 14px;
  line-height: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
}

.theme-btn {
  width: 180px;
  height: 50px;
  background: rgba(70, 109, 225, 1);
  border: none;
  font-size: 18px;
  font-family: PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  bottom: 5px;
  right: 0px;
}

.catalog-sidebar-section {
  width: 1000px;
  height: 1280px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 0px;
}

.catalog-container {
  display: block;
  width: 700px;
  height: 1280px;
  background: rgba(255, 255, 255, 1);
  font-size: 0px;
  float: left;
}

.catalog-list-item {
  width: 152px;
  height: 16px;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  line-height: 16px;
  padding: 32px 518px 12px 30px;
}

.catalog-list-item-more {
  padding: 32px 518px 14.5px 30px;
}

.catalog-list-sub-item {
  width: 600px;
  height: 40px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  line-height: 14px;
}

.catalog-list-sub-item-more {
  height: 35px;
}

.sub-item-color {
  background-color: rgba(246, 248, 253, 1);
}

.sidebar-top-section {
  width: 280px;
  height: 440px;
  background: rgba(255, 255, 255, 1);
  font-size: 0px;
  float: right;
}

.sidebar-top-container {
  width: 217px;
  padding-top: 22px;
  padding-left: 30px;
  font-size: 0px;
}

.sidebar-top-title {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  line-height: 16px;
}
.sidebar-top-title-more{
  padding-bottom: 24px;
}


.sidebar-top-description {
  width: 217px;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: rgba(114, 113, 113, 1);
  line-height: 20px;
  text-align: justify;
  padding: 7px 0px 27px 0px;
}

.sidebar-bottom-section {
  width: 280px;
  height: 380px;
  background: rgba(255, 255, 255, 1);
  float: right;
  margin-top: 20px;
  font-size: 0px;
  vertical-align: top;
}


.sidebar-bottom-title {
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  font-family: SourceHanSansCN;
  font-weight: bold;
  color: rgba(51, 51, 51, 1);
  padding-top: 22px;
  padding-left: 30px;
}

.text-left-bottom-container {
  width: 280px;
  height: 380px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  left: 720px;
  top: 460px;
}



.sidebar-bottom-container {
  width: 217px;
  margin-top: 12px;
  margin-bottom: 8px;
  margin-left: 30px;
  display: inline-block;
  font-size: 0px;
}

.sidebar-bottom-img {
  width: 90px;
  height: 60px;
}

.sidebar-bottom-info {
  width: 116px;
  height: 31px;
  font-size: 14px;
  line-height: 15.5px;
  font-family: PingFang SC;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  float: right;
  padding-top: 7px;
}

.page-footer {
  width: inherit;
  height: 40px;
  background: rgba(51, 51, 51, 1);
}

.footer-container {
  height: 40px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.footer-content {
  font-size: 12px;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
}