* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  width: 100%;
  height: 1400px;
  background: rgba(248, 250, 252, 1);
  position: relative;

}

.page-header {
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  position: relative;

}

.page-header-container {
  width: 1080px;
  height: inherit;
  margin: 0 auto;
  font-size: 0px;
  position: relative;
}

.header-logo {
  padding-top: 10px;
  width: 56px;
  height: 39px;
}

.header-nav-container {
  display: inline-block;
  width: 275px;
  /* min-width: 275px; */
  padding-top: 21px;
  margin-left: 33px;
  vertical-align: top;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header-nav-item {
  font-size: 15px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  line-height: 15px;
}

.header-nav-item-more {
  color: #35B558;
}

.header-nav-underline {
  width: 28px;
  height: 3px;
  background: rgba(53, 181, 88, 1);
  border-radius: 3px;
  margin: 8px auto 0px;
}

.portrait {
  width: 34px;
  height: 34px;
  clip: rect(2px 32px 32px 2px);
  position: absolute;
  float: right;
  right: 0px;
  margin: 13px 0;
}

.main-section {
  width: 1080px;
  height: 1080px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 0px;
  position: relative;
}

.main-align-left {
  width: 250px;
  height: 1079px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  font-size: 0px;
  float: left;
}

.left-container {
  margin-left: 16px;
  font-size: 0px;
}

.main-left-title {
  height: 16px;
  padding-top: 24px;
  font-size: 16px;
  line-height: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
}

.main-left-list {
  padding: 14px 0px 6px 0px;
  display: flex;
  flex-wrap: wrap;
}

.main-left-list-item {
  font-size: 14px;
  line-height: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  padding-right: 20px;
  padding-bottom: 10px;
  list-style: none;
}
.main-left-list-item-more{
  color: #35B558;
}
.go{
  padding-right: 60px;
}


.main-align-top {
  display: inline-block;
  width: 806px;
  height: 46px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  margin-left: 24px;
  font-size: 0px;
  vertical-align: top;
}

.jav {
  display: inline-block;
  width: 34px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 14px;
  padding: 16px 0px 16px 20px;
  vertical-align: top;
}

.main-top-line {
  display: inline-block;
  width: 1px;
  height: 12px;
  background: rgba(153, 153, 153, 1);
  margin: 17px 0px 17px 13px;
  vertical-align: top;
}

.main-top-list-container {
  display: inline-block;
  width: 180px;
  height: 12px;
  padding: 17px 0px 17px 16px;
}

.main-top-list {
  display: flex;
  justify-content: space-between;
  width: 180px;
  height: 12px;
}

.main-top-list-item {
  list-style: none;
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
}

.main-top-choice {
  height: 12px;
  padding: 17px 30px 17px 0px;
  float: right;
  font-size: 0px;
}

.main-top-info {
  display: inline-block;
  height: 12px;
  font-size: 12px;
  line-height: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
}

.arrow {
  display: inline-block;
  width: 8px;
  padding-left: 5px;
}

.main-align-middle {
  width: 822px;
  height: 1033px;
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin-right: -8px;
  padding-top: 8px;
}

.middle-container {
  width: 258px;
  height: 240px;
  margin: 8px;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.middle-img {
  clip: rect(0px 258px 139px 0px);
}

.middle-info {
  width: 226px;
  height: 40px;
  font-size: 15px;
  line-height: 20px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  margin: 13px 16px 0px 16px;
}

.middle-note {
  width: 226px;
  height: 12px;
  font-size: 12px;
  line-height: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  margin: 19px 16px 0px 16px;
  display: inline-block;
}

.middle-icon-right {
  float: right;
}

.sidebar-section {
  display: inline-block;
  width: 100px;
  height: 230px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04);
  border-radius: 2px;
  position: absolute;
  right: -116px;
}

.sidebar-container {
  width: 48px;
  height: 230px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  line-height: 46px;
  margin-left: 18px;
  position: absolute;
}

.page-footer-container {
  
}

.footer-list {
  width: 740px;
  font-size: 0px;
  padding-left: 302px;
  padding-top: 40px;
  margin: 0 auto;
}

.footer-list-item {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  line-height: 12px;
  background: rgba(255, 255, 255, 1);
  margin-right: 5px;
  text-align: center;
  line-height: 32px;

}

.home-page, .next-page, .end-page{
  width: 50px;
}

.last-page {
  width: 72px;
}

.one-page {
  background: rgba(53, 181, 88, 1);
  color: #FFFFFF;
}

.period, .page {
  display: inline-block;
  color: rgba(51, 51, 51, 1);
  background-color: transparent;
  height: auto;
  width: auto;
  margin: 0px 7px;
}

.all-page {
  margin: 0px 15px;
  color: rgba(51, 51, 51, 1);
  background-color: transparent;
}

.period-one {
  margin: 0px 2px;
}



.period-one,
.define {
  color: #333333;
  width: 32px;
  height: 22px;
  background-color: rgba(255, 255, 255, 1);
  line-height: 22px;
}
.define {
  margin-left: 3px;
  color: #999999;
}

.dot {
  background-color: transparent;
}