* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.body {
    width: 100%;
    height: 2430px;
    background: rgba(248, 250, 252, 1);
    margin: 0 auto;
}

.page-header {
    height: 60px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
}

.header-section {
    position: relative;
    width: 1080px;
    height: 60px;
    margin: 0 auto;
    font-size: 0px;
}

.logo {
    width: 54px;
    height: 37px;
    padding-top: 10px;
}

.header-list {
    display: inline-block;
    width: 340px;
    height: 15px;
    padding-top: 21px;
    padding-left: 33px;
    font-size: 0px;
    vertical-align: top;
}

.header-list-item {
    display: inline-block;
    font-size: 15px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333;
    line-height: 15px;
    vertical-align: top;
    word-spacing: 15px;
    padding-right: 33px;
}

.header-list-item-more {
    color: #006EDA;
}

.header-list-underline {
    width: 28px;
    height: 3px;
    background: #006EDA;
    border-radius: 3px;
    margin: 8px auto 0px;
}

.decoration {
    color: #006EDA;
}


.portrait {
    width: 34px;
    height: 34px;
    clip: rect(2px 32px 32px 2px);
    position: absolute;
    float: right;
    right: 0px;
    margin: 13px 0;
}

.page-mainer {
    height: 2303px;
    margin: 0 auto;
}

.mainer-container {
    width: 1096px;
    height: 2303px;
    margin: 0px auto;
    font-size: 0px;
}

.main-diagram-section {
    display: inline-block;
    margin: 20px 8px;
}

.camp-section {
    height: 420px;
    width: 1096px;
    font-size: 0px;
}

.camp-title-container,
.course-title-container,
.project-title-container,
.experiment-title-container {
    height: 84px;
    width: 1096px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: -8px;
    font-size: 0px;
}

.camp-title,
.course-title,
.project-title,
.experiment-title {
    width: 60px;
    height: 20px;
    font-size: 20px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: Medium;
    color: #333333;
    line-height: 20px;
}

.project-title {
    width: 80px;
}

.course-title,
.experiment-title {
    width: 40px;
}

.camp-subtitle,
.course-subtitle,
.project-subtitle,
.experiment-subtitle {
    width: 154px;
    height: 14px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
    line-height: 14px;
    margin-top: 10px;
    text-align: center;
}

.camp-content {
    width: 1096px;
    height: 332px;
    display: flex;
    flex-wrap: wrap;
}

.camp-content-container {
    width: 532px;
    height: 150px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    margin: 8px;
    display: flex;
    position: relative;
}

.camp-list {
    position: absolute;
    width: 240px;
    height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 30px;
    top: 28px;
    bottom: 28px;
}

.camp-list-title {
    width: 240px;
    height: 20px;
    font-size: 20px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 20px;
}

.camp-list-description {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 20px;
    width: 215px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
}

.camp-list-note {
    width: 139px;
    height: 12px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 12px;
}

.ice {
    color: #006EDA;
}

.camp-photo {
    position: absolute;
    top: 25px;
    right: 49px;
}

.course-section {
    width: 1096px;
    height: 596px;
}

.course-main-container {
    width: 1096px;
    height: 512px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.course-content-container {
    width: 258px;
    height: 240px;
    margin: 8px;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.course-img {
    clip: rect(0px 258px 139px 0px);
}

.course-description {
    width: 226px;
    height: 40px;
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
    position: absolute;
    bottom: 48px;
    margin: 0 16px;
}

.course-note {
    width: 226px;
    height: 12px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 12px;
    position: absolute;
    bottom: 17px;
    margin: 0px 16px;
    display: inline-block;
    vertical-align: top;
}

.course-icon-right {
    display: inline-block;
    position: absolute;
    right: 0px;
}

.project-layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.project-content-container {
    width: 1096px;
    height: 272px;
    font-size: 0px;

}

.project-text {
    width: 203px;
    height: 120px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    margin: 8px;
    position: relative;
    display: inline-block;
}

.project-text-title {
    position: absolute;
    left: 16px;
    top: 22px;
    width: 169px;
    height: 40px;
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
    text-align: center;
}

.project-text-subtitle {
    width: 203px;
    height: 36px;
    background: rgba(131, 140, 161, 1);
    border-radius: 0px 0px 5px 5px;
    bottom: 0px;
    position: absolute;
    text-align: center;
    font-size: 13px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 36px;
}

.project-special {
    background-color: #006EDA;
}

.experiment-container {
    display: flex;
    flex-wrap: wrap;
}

.experiment-content-container {
    width: 203px;
    height: 210px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    margin: 8px;
    position: relative;
}

.experiment-text-description {
    width: 169px;
    height: 40px;
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
    position: absolute;
    left: 16px;
    top: 122px;
}

.experiment-note {
    width: 169px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 12px;
    position: absolute;
    left: 16px;
    bottom: 17px;
}

.page-footer { 
    height: 40px;
    background: rgba(51, 55, 68, 1);
    text-align: center;
    margin: 0 auto;
}

.page-footer-container {
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 40px;
}